<template>
	<div class="wrappHeader">
		<ul class="wrappHeader__headerLinks">
			<nuxt-link to='/' class="wrappHeader__headerLinks-link">
				<a> Главная </a>
			</nuxt-link>

			<nuxt-link to='/search' class="wrappHeader__headerLinks-link">
				 Поиск 
			</nuxt-link>

			<nuxt-link to='/favorites' class="wrappHeader__headerLinks-link">
				Избранное 
			</nuxt-link>


		</ul>
	</div>
</template>

<script>
	
export default {
	name: 'Header'
}

</script>

<style lang="sass">

.wrappHeader
	background-color: rgb(112, 64, 64)
	width: 100%
	display: fixed
	border: box
	&__headerLinks
		display: flex
		justify-content: center
		align-text: center
		font-size: 25px
		font-family: 'sans-serif'
		&-link
			text-decoration: none
			padding: 5px 10px
			margin: 0 10px
			color: rgb(204, 204, 204)
			a
				color: rgb(204, 204, 204)
				&:active
					color: black
			&:hover
				color: rgb(204, 204, 204)
				text-decoration: none
			&:active
					color: black



</style>