<template>
	
<div>
			<div class="dataWrapp__currentTemp">
				
				Текущая погода: <span>+{{ this.main.temp }}</span>

			</div>

			<div class="dataWrapp__minTemp">
				
				Мин.температура: <span>+{{this. main.temp_min }}</span>

			</div>

			<div class="dataWrapp__maxTemp">
				
				Макс.температура: <span>+{{this. main.temp_max}} </span>

			</div>
			
			<div class="dataWrapp__maxTemp"> 
				
				Атмосферное давление: <span>{{ getPressure(main.pressure)}} в мм.рт.ст </span>
			
			</div>
</div>

</template>

<script>
	
export default {
	name: 'Main',
	props: {
		main: Object
	},
	methods: {
		getPressure(pre) {
			let gPA = parseInt(pre) 
			let PA =  gPA / 133.3
			return parseInt(PA * 100)
		}
	}

}

</script>