<template>
	
<div>
	
	<div class="windWrapp__speedWind">
		Скорость ветра: {{ this.wind.speed }} м/c
	</div>

			<!-- <div class="windWrapp__degWind">
				Направление ветра: {{ getDeg(tempData.wind.deg) }}
			</div> -->

</div>

</template>

<script>
	
export default {
	name: 'Wind',
	props: {
		wind: Object
	}
}

</script>