<template>
	<div class="dataWrapp" v-if="tempData">
		<div class="load" v-show="setLoad">
					Загрузка...
		</div>

		<h3>Температура в городе:</h3>
			<div class="tempData">
	
				<Main :main="tempData.main" />
				
			</div>
		<h3>Ветер:</h3>
		<div class="windWrapp">
			
			<Wind :wind="tempData.wind"/>

		</div>

	</div>
</template>


<script>
import axios from 'axios'
import Main from '@/components/getData/tempData/Main'
import Wind from '@/components/getData/tempData/Wind'

export default {
	name: 'getData',
	components: {
		Main,
		Wind
	},
	props: ['city', 'country'],
	data() {
		return {
			tempData: null,
			setLoad: true,
			id: '10647c36f65b4a0b9216a4224a70de19'
		}
	},
	methods: {
		loadTempData() {
			return axios
					.get(`//api.openweathermap.org/data/2.5/weather?q=${this.city},${this.country}&appid=${this.id}&units=metric`)
		},
		getDeg(deg) {
			let parsdeg = parseInt(deg)
		}
	},
	created() {
		this.loadTempData()
			.then(({ data }) => {
				this.tempData = data
				this.setLoad = false
			})
			.catch(err => console.error(err))
	}
	
	
}
	
</script>

<style lang="sass">

.tempData
	border: 1px solid gold
	border-radius: 4px
	padding: 5px

.load
	font-size: 60px;

.windWrapp
	border: 1px solid black
	border-radius: 4px
	padding: 10px

.dataWrapp
	&__currentTemp
		text-align: center
		span
			font-size: 35px
	&__minTemp
		
		span
			font-size: 25px
	&__maxTemp
		
		span
			font-size: 25px
</style>
