<template>
	
	<div v-if="favorites.length === 0">
		<h1>
			В избранном ничего нет !
		</h1>
	</div>

	<b-container v-else>

	    <b-card no-body>
	      <b-tabs pills card vertical >

	        <div 
	        v-for="(favorit, i) in favorites" 
	        :key="i">
	        	<b-tab 
	        	:title="favorit.title" active 
	        	v-if="favorit.active">
		          <getData :city='favorit.city' country='ru' />
		          <div>
				   <b-link @click="removeFavorit(i)">Убрать из избранного</b-link>
				  </div>
		        </b-tab>

		        <b-tab :title="favorit.title" :key="favorit.title" v-else>
		          <getData :city='favorit.city' country='ru' />
		          <div>
				   <b-link @click="removeFavorit(i)">
				   		Убрать из избранного
				   	</b-link>
				  </div>
	        	</b-tab>
	        </div>

	      </b-tabs>
	    </b-card>
		
	</b-container>
</template>

<script>
	
import getData from '@/components/getData/getData'

export default {
  components: {
    getData 
  },
  data(){
  	return {
  		favorites: []
  	}
  },
  mounted() {
  	try {
		if (localStorage.getItem('items')) {
			this.favorites = JSON.parse(localStorage.getItem('items'))
		}
	}catch (e) {
		localStorage.removeItem('items')
	}
  },
  methods: {
  	removeFavorit(id){

  		this.favorites.splice(id, 1)
  		this.saveItem()
  	},
  	saveItem() {
		const parsed = JSON.stringify(this.items)
		localStorage.setItem('items', parsed)
		this.changeLink = true
	}
  }
}

</script>

<style>
	
</style>