<template>

<b-container>

    <Search />

</b-container>

</template>

<script>
import Search from '@/components/Search/Search.vue'

export default {
  components: {
    Search 
  }
}
</script>

<style>

</style>

