<template>
	<div>
		<b-form inline>
	      <label class="sr-only" for="inlineFormInputName2">Город</label>
	      <b-input class="mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" placeholder="Город... (Только Россия)" v-model="searchInput" />
	      <b-button variant="primary" @click="translUrl()">Поиск</b-button>

		<b-button v-for="btn in buttons" :pressed.sync="btn.state" :variant="btn.variant" :key="btn.variant" @click="resetCity()">
        	{{ btn.caption }}
      	</b-button>

	    </b-form>
		

		<div v-if="load">
			Введите название города!
		</div>
		
		<getData v-else :city="getUrl()" country="ru"/>
		
		<div v-if="changeLink">
			<h4>Добавленно</h4>
		</div>

		<div v-else >
		   <b-link v-if="load===false" @click="getCity()">Добавить в избранное!</b-link>
		</div>

	</div>
</template>

<script>
	import getData from '~/components/getData/getData.vue'

	export default {
		name: 'Search',
		components: {
			getData
		},
		data(){
			return {
				searchInput: '',
				ResultCity: '',
				buttons: [
			        
			        { variant: 'danger', caption: 'Сбросить город', state: false },
			        
			    ],
				load: true,
				items: [],
				changeLink: false
			}
		},
		mounted() {
			try {
				if (localStorage.getItem('items')) {
					this.items = JSON.parse(localStorage.getItem('items'))
				}
			}catch (e) {
				localStorage.getRemoveItem('items')
			}
		},
		methods: {
			translUrl(){
				let text = this.searchInput

				let arrru = new Array('Я','я','Ю','ю','Ч','ч','Ш','ш','Щ','щ','Ж','ж','А','а','Б','б','В','в','Г','г','Д','д','Е','е','Ё','ё','З','з','И','и','Й','й','К','к','Л','л','М','м','Н','н', 'О','о','П','п','Р','р','С','с','Т','т','У','у','Ф','ф','Х','х','Ц','ц','Ы','ы','Ь','ь','Ъ','ъ','Э','э');
				let arren = new Array('Ya','ya','Yu','yu','Ch','ch','Sh','sh','Sh','sh','Zh','zh','A','a','B','b','V','v','G','g','D','d','E','e','E','e','Z','z','I','i','J','j','K','k','L','l','M','m','N','n', 'O','o','P','p','R','r','S','s','T','t','U','u','F','f','H','h','C','c','Y','y','`','`','\'','\'','E', 'e');
				for(let i=0; i<arrru.length; i++){
					let reg = new RegExp(arrru[i], "g");
					text = text.replace(reg, arren[i]);
			    }

			    this.ResultCity = text
			    this.load = false
			},
			getUrl() {

				return this.ResultCity
			},
			resetCity() {
				this.load = true
				this.changeLink = false 
			},
			getCity(){
				let actives = null
				if (this.items.length < 1) {
					actives = true
				}else {
					actives = false
				}

				console.log({
					title: this.searchInput,
					city: this.ResultCity
				})
				this.items.push({
					_id: this.items.length + 1,
					title: this.searchInput,
					active: actives,
					city: this.ResultCity
				});
      			this.searchInput = '',
      			this.ResultCity = ''

      			this.saveItem()
			},
			saveItem() {
				const parsed = JSON.stringify(this.items)
				localStorage.setItem('items', parsed)
				this.changeLink = true
			}
		}


	}
</script>

