<template>

<b-container>

    <b-card no-body>
      <b-tabs pills card vertical>
        <b-tab title="Москва" active>
          <getData city='Moscow' country='ru' />
        </b-tab>
        <b-tab title="Санкт-Петербург">
          <getData city='Sankt-Peterburg' country='ru' />
        </b-tab>

        <b-tab title="Реутов">
          <getData city='Reutov' country='ru' />
        </b-tab>
       

      </b-tabs>
    </b-card>

</b-container>

</template>

<script>
import getData from '@/components/getData/getData'

export default {
  components: {
    getData 
  }
}
</script>

<style>

</style>

